@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    background-color: #000000;
    font-family: Inter;
}
header{
    background:url(images/Images\ 2.png), linear-gradient( to bottom, rgba(17, 17, 17, 1), rgba(119, 119, 119, 0.2)) ;
    width: 100vw;
    height: 100vh;
    margin: -10px -10px -10px -8px;
    margin-right: 100px;
    background-size: 25%, auto;
    background-position: center, 20% 80%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: bottom right 22%;
    
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 20em;
}
.nav-text{
    list-style: none;
    display: flex;
    font-size: 1.12rem;
    gap: 2em;
    align-items: center;
    border: 0.8px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 7px;
    
}

.nav-text a{
    text-decoration: none;
    color: #E6533C;
    
}
.nav-title a{
    text-decoration: none;
    font-size: 2.25rem ;
    color: #E6533C;
    font-style: italic;
}
.btn{
    background-color: #E6533C ;
    color: white;
    font-size: 1.12rem;
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
}

/* Banner 1 */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 20em 0em 20em;
}

.banner-title{
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    line-height: 100px;
}
.shape{
    font-family: Miama;
    font-weight: 100;
    font-size: 10rem;
}
.banner-des{
    font-size: 1rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.5);
    line-height:30px;
    
}
.btn2{
    background-color: #E6533C ;
    font-weight: 400;
    color: white;
    font-size: 1.12rem;
    padding: 16px 40px;
    border-radius: 50px;
    border: none;
}
.btn3{
    background-color: transparent;
    font-weight: 400;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
    padding: 16px 40px;
    border-radius: 50px;
}

.btn-blur-1{
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px 40px;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    margin-left:180px;
    margin-right: 5px;
    margin-top: 400px;
}
.btn-blur1-title{
    font-size: 1rem;
    font-weight: bold;
}
.circle{
    color: #E6533C;
    
}
.btn-blur1-des{
    font-weight: 100;
    color: rgba(239, 237, 232, 0.65);
}
.btn-blur2-title{
    font-size: 1rem;
    font-weight: bold;
}
.btn-blur-2{
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px 40px;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    
}
.btn-blur2-des{
    font-weight: 100;
    color: rgba(239, 237, 232, 0.65);
}

/* Sidebar Responsive */
@media screen and (min-width: 575px) {
    .sidebar, .circle2{
        visibility: hidden;
    }

    
}

/* Banner 1 Responsive for mobile device */

@media screen and (max-width: 576px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
    }
    .sidebar {
        display: flex;
        align-items: center;
        padding: 1em;
        gap: 1em;
    }
    .nav-text {
        display: none;
    }
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        margin-right: 0;
    }
    .banner-title {
        font-size: 1.5rem;
        line-height: 1.2;
        
    }
    .shape {
        font-size: 6rem;
    }
    header {
        width: 100vw;
        height: 1040px;
        margin: -10px -10px -10px -8px;
        background-size: 60%, auto;
        background-repeat: no-repeat;
        background-position: center bottom;
        padding-bottom: 20%;
    }
    .btn2, .btn3 {
        font-size: 1rem;
        padding: 10px 20px;
        margin-top: 10px;
    }
    .btn-blur-1, .btn-blur-2 {
        display: flex;
        position: absolute;
        bottom: 0%;
        width: 40%;
        padding: 10px ;
    }
    .btn-blur-1 {
        right: 40%;
       
       
    }
    .btn-blur-2 {
        bottom:10%;
        right: 3%;
    }
    .circle{
        visibility: hidden;
    }
    .circle2{
        color: #E6533C;
    }
    
}

/*  Banner 2  */
.banner2{
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    
    
}
.baenner2-title{
    margin-top: 5%;
    font-size: 3rem;
    line-height: 0px;
    padding-left: 20px;
    
}
.banner2-des{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 30px;
    padding-left: 30px;
}
.headline{
    font-size: 1.12rem;
    line-height: 0px;
    margin: 20px 0px 0px 0px;
}
.sub-headline{
    font-size: 0.7rem;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
}
.banner-2-img{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   margin-top: 2%;
   padding-left: 300px;
   padding-right: 300px;
   column-gap: 100px;
}
/* Banner 2 Responsive for mobile device */

@media screen and (max-width: 576px) {
    .baenner2-title{
        margin-top: 20%;
        font-size: 2rem;
        line-height: 0px;
        padding-left: 20px;
    }
    .banner-2-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 10%;
        padding-left: 10px;
        padding-right: 10px;
        row-gap: 15px;
     }
}

/* banner 3 */
.banner3 {
    width: 1090px;
    height: 256px;
    color: white;
    background-color: #222222;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    margin-left: 315px;
    margin-right: 0px;
    
}

.banner3-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.banner3-content {
    max-width: 443px;
}

.banner3-content h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner3-content p {
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
}

.banner3-content .btn {
    background-color: #E6533C;
    border: none;
    padding: 10px 50px;
    color: white;
    border-radius: 50px;
}

.banner-3-img img {
    width: 319px;
    height: 256px;
    border-radius: 8px;
    object-fit: cover; 
    margin-bottom: 0px;
}

/* Banner 3 Responsive for mobile device */

@media screen and (max-width: 576px) {
    .banner3 {
        width: 353px;
        height: 420px;
        color: white;
        background-color: #222222;
        border-radius: 16px;
        display: block;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 0px;
        
    }
    
    .banner3-container {
        display: block;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        row-gap: 20px;
    }
    
    .banner3-content {
        width: 380px;
        
    }
    
    .banner3-content h2 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .banner3-content p {
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.8rem;
    }
    
    .banner3-content .btn {
        background-color: #E6533C;
        border: none;
        padding: 10px 140px;
        color: white;
        border-radius: 50px;
       margin-bottom: 20px;
    }
    
    .banner-3-img img {
        width: 353px;
        height: 170px;
        border-radius: 8px;
        object-fit: cover; 
        margin-bottom: 0px;
        justify-content: center;
    }
}